@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.primary {
    background-color: #076633;
}

.container {
    width: 1170px;
    margin: 0 auto;
}