@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  body {
    @apply font-sans;
  }
}



.primary {
  background-color: #076633;
}

.secundary {
  background-color: #00984B;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@keyframes logo-section-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}